/* Small screens (phones) */
@media (max-width: 600px) {

    @keyframes slideInAbout {
        0% {
            transform: translateX(-100%); /* Start from the left */
            opacity: 0; /* Start invisible */
            margin-left: -10rem; /* Start with negative margin */
        }
        75% {
            transform: (translateX(-80%));
        }
        100% {
            transform: translateX(0); /* End at the original position */
            opacity: 1; /* Fully visible */
            margin-left: 2rem;
        }
    }

    @keyframes slideInSocials {
        0% {
            transform: translateX(100%); /* Start from the left */
            opacity: 0; /* Start invisible */
            margin-left: 10rem; /* Start with negative margin */
        }
        75% {
            transform: (translateX(80%));
        }
        100% {
            transform: translateX(0); /* End at the original position */
            opacity: 1; /* Fully visible */
            margin-left: 2.6rem;
        }
    }

    @keyframes slideInFiverrStats {
        0% {
            transform: translateX(100%); /* Start from the left */
            opacity: 0; /* Start invisible */
            margin-left: -10rem; /* Start with negative margin */
        }
        75% {
            transform: (translateX(80%));
        }
        100% {
            transform: translateX(0); /* End at the original position */
            opacity: 1; /* Fully visible */
            margin-left: 2.6rem;
        }
    }

    .bubble-about, .bubble-socials, .bubble-fiverr-stats, .bubble-image, .bubble-tools {
        max-width: 90%; /* Limit the width to avoid overflow */
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center; /* Centers items horizontally */
        margin: auto;
        margin-top: 3rem;
    }

    .bubble-about-h {
        margin-top: 0px;
    }

    .fiverr-cards {
        max-width: 130px;
        margin-top: 1rem;
    }

    .experience {
        max-width: 130px;
        margin-top: 0px;
        margin-left: 8.5rem;
    }

    .bubble-tools {
        max-width: 70%;
        margin-bottom: 3rem;
    }
    
    h1, h2, h3 {
        font-size: 1.5em;
    }
    
    .fiverr-cards {
        size: 0.8;
    }

    .clients {
        margin-right: auto;
        margin-bottom: auto;
        margin-left: -1.5rem;
        margin-top: 1rem;
        width: 40px;
        height: 110px;
    }

    .card-back p {
        font-size: 1em;
    }

    .experience {
        margin-top: -8.2rem;
        width: 130px;
        height: 165px;
    }

    .rating {
        margin-top: 2rem;
        margin-bottom: 0rem;
        margin-left: -1.2rem;
        width: 290px;
        height: 50px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    
    .bubble-about {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .bubble-image {
        max-width: 75%;
        max-height: 75%;
        transition: none;
        animation: none;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
}