#emoji-container {
  position: relative;
  pointer-events: none; 
}

.hover-word {
  position: relative;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.emoji-confetti {
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in; 
}
