.tools-logo {
    width: 55px;
    height: 55px; 
    display: block;
    transform: scale(0.8);
    transition: transform 0.3s ease-out;
}

.bubble-tools li {
    margin-bottom: 15px; 
}

.bubble-tools ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tools-logo:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}